body {
	background-color: #e7e7e7;
	overflow-x: hidden;
	margin: 0 auto;
}

p {
	font-family: 'Lato', sans-serif;
}

.header {
	width: 100%;
	height: 20px;
	text-align: center;
	font-size: 12px;
	letter-spacing: 2px;
	background-color: #040a49;
	box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.78);
	color: #ffffff;
}

.header > p > a {
	text-decoration: none;
	color: inherit;
}

.header > p > a:hover {
	text-decoration: underline;
}

@media screen and (max-width: 850px) {
	.header > p {
		visibility: hidden;
	}
}

.banner {
	width: 100%;
	height: 100px;
	background-color: rgba(36, 36, 92, 0.7);
	position: absolute;
	z-index: 1;
	padding-right: 50px;
	padding-bottom: 30px;
	text-align: right;
}

.banner > a > h1 {
	font-weight: bold;
	font-family: 'Oswald', sans-serif;
	font-size: 60px;
	margin-bottom: 5px;
	color: #ffffff;
}

.banner > a > h1:hover {
	color: #f9da24;
	font-weight: bolder;
	text-decoration: none;
}

@media screen and (max-width: 768px) {
	.banner {
		text-align: center;
		padding: 0cm 0cm 0cm 0cm;
	}

	.banner > a > h1 {
		font-size: 50px;
	}
}

@media screen and (max-width: 475px) {
	.banner {
		padding-top: 15px;
	}	

	.banner > a > h1 {
		font-size: 30px;
	}
}

.navbar-inverse {
	position: absolute;
	top: 120px;
	z-index: 4;
	width: 100%;
	border: none;
	border-radius: 0px;
	background-color: rgba(4, 10, 73, 0.9);
	box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.78);
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
}

.navbar-inverse .navbar-nav > li > a {
	color: #f9da24;
}

.navbar-inverse .navbar-nav > li > a:hover {
	color: #ffffff;
}

.navbar-nav > li > a { 
	padding-left: 20px;
	padding-right: 20px;	
}

@media (max-width: 767px) {
	.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
		color: #f9da24;
	}
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}

.banner2 {
	position: absolute;
	z-index: 2;
	top: 470px;
	width: 100%;
	height: 50px;
	background-color: rgba(4, 10, 73, 0.9);
	box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.78);
}

.logo {
	position: absolute;
	z-index: 3;
	top: 200px;
	left: 65%;
}

.logo > img {
	height: 250px;
	width: 250px;
}

@media screen and (max-width: 768px) {
	.logo {
		visibility: hidden;
		top: 0px;
		left: 0px;
	}
}

/* Main Slideshow */
.slideshow { 
	position: absolute; 
	width: 100%; 
	height: 500px; 
	z-index: -1;
	color: #ffffff;
}

.slideshow > div { 
	position: absolute; 
	width: 100%;
}

.slideshow > div > a > img {
    width: 100%;
	height: 500px;
}

.content-pane {
	position: absolute;
	width: 80%;
	text-align: center;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 500px;
	background-color: #ffffff;
	box-shadow: 21px 10px 71px 22px rgba(0,0,0,0.75);
	z-index: -100;
}

.content-pane hr {
	border-top: 5px solid #aaaaaa;
	width: 90%;
}

.container {
	width: inherit;
	margin-left: 0px;
	margin-right: 0px;
}

.welcome-panel {
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 10px;
}

.welcome-panel h1 {
	text-transform: uppercase;
	font-size: 80px;
	font-family: 'Oswald', sans-serif;
}

.welcome-panel p {
	font-size: 18px;
}

@media screen and (max-width: 475px) {
	.content-pane .welcome-panel h1 {
		font-size: 24px;
	}
}

@media (min-width: 992px) {
	.col-md-6 {
		width: 49%;
	}
}

.social-panel {
	margin-top: 10px;
}

.social-panel h1 {
	text-transform: uppercase;
	font-size: 56px;
	font-family: 'Oswald', sans-serif;
}

#twitter-feed {
	padding-left: 30px;
}

.social-tab {
	height: 70px;
	margin-top: 30px;
	margin-bottom: 30px;
	padding-top: 5px;
	padding-right: 25px;
	text-align: right;
	color: white;
	border-radius: 10px;
	box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
	font-family: 'Open Sans' sans-serif;
	font-weight: bold;
	font-size: 28px;
}

@media screen and (max-width: 475px) {
	.social-tab {
		height: 70px;
		box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
		font-size: 10px;	
		text-align: center;
	}
}

#social-connect > a:hover {
	text-decoration: none;
}

.social-tab:hover {
	height: 75px;
	font-size: 32px;
	box-shadow: 15px 15px 20px 0px rgba(0,0,0,0.75);
}

@media screen and (max-width: 475px) {
	.social-tab:hover {
		height: 70px;
		font-size: 12px;
		box-shadow: 15px 15px 20px 0px rgba(0,0,0,0.75);
	}
}

#facebook {
	background-color: #4c66a4;
}

#twitter {
	background-color: #55acee;
}

#instagram {
	background-color: #4b1b00;
}

#pinterest {
	background-color: #f12525;
}

#social-icon {
	font-size: 64px;
	margin-left: 20px;
}

@media screen and (max-width: 475px) {
	#social-icon {
		font-size: 34px;
		margin-top: 10px;
		margin-left: 10px;
	}
}
