hr {
	border-top: 3px solid #525252;
	width: 90%;
}

body {
	background: url("../img/bg.jpg") no-repeat fixed ;
}

/* Banner */
.banner {
	height: 100px;
	background-color: rgba(36, 36, 92, 0.7);
	padding-bottom: 30px;
	text-align: right;
	text-transform: uppercase;
}

.banner h1 {
	font-weight: bold;
	font-family: 'Oswald', sans-serif;
	font-size: 60px;
	margin-bottom: 5px;
	color: #ffffff;
	float: right;
}

@media (max-width: 767px) {
	.banner h1 {
		font-size: 40px;
		padding-top: 10px;
	}
}

@media (max-width: 420px) {
	.banner h1 {
		font-size: 30px;
		padding-top: 20px;
	}
}

@media (max-width: 315px) {
	.banner h1 {
		font-size: 24px;
		padding-top: 25px;
	}
}

.banner a:hover {
	text-decoration: none;
}

.banner h1:hover {
	color: #f9da24;
}

/* Main Slideshow */
.slideshow { 
	position: absolute; 
	top: -100px;
	width: 100%; 
	height: 600px; 
	z-index: -1000;
}

.slideshow div { 
	position: absolute; 
	width: 100%;
}

.slideshow img {
    width: 100%;
	height: 600px;
}

/* Navbar */
.navbar {
	border: none;
	border-radius: 0px;
	background-color: rgba(4, 10, 73, 0.9);
	box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.78);
	font-family: 'Oswald', sans-serif;
	font-size: 13px;
	z-index: 1000;
	text-transform: uppercase;
}

.nav li a {
	padding: 15px 10px;
}

.navbar .navbar-nav li a {
	color: #f9da24;
}

.navbar .navbar-nav li a:hover {
	color: #ffffff;
}

@media (max-width: 768px) {
	.navbar .dropdown-menu a {
		color: #f9da24;
	}
}

.dropdown-menu {
	background-color: rgba(36, 36, 92, 0.7);
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	background-color: rgba(4, 10, 73, 0.9);
}

/* NJ Seal */
.seal {
	position: absolute;
	top: 170px;
	z-index: -1;
	padding-right: 100px;
	width: 100%
}

.seal img {
	float: right;
}

@media (max-width: 768px) {
	.seal {
		padding-right: 35px;
	}
}

@media (max-width: 430px) {
	.seal img {
		width: 0px;
		height: 0px;
	}
}

/* Empty Banner */
.empty-bar {
	position: absolute;
	z-index: 1;
	top: 450px;
	width: 100%;
	height: 50px;
	background-color: rgba(4, 10, 73, 0.9);
	box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.78);
}

/* Content Panel */
.content {
	background-color: #ffffff;
	box-shadow: 21px 10px 71px 22px rgba(0,0,0,0.75);
	margin-top: 350px;
	padding-bottom: 25px;
}

@media (max-width: 1199px) and (min-width: 768px) {
	.content {
		margin-top: 300px;
	}
}

/* Welcome Row */
.title {
	text-align: center;
}

.title h1 {
	text-transform: uppercase;
	font-size: 60px;
	font-family: 'Oswald', sans-serif;
}

.title p {
	font-size: 14px;
}

@media (max-width: 1200px) {
	.title h1 {
		font-size: 40px;
	}
}

@media (max-width: 768px) {
	.title p {
		font-size: 12px;
	}
}

/* Footer */
footer {
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	background-color: rgba(4, 10, 73, 0.9);
	box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.78);
	color: white;
}