hr {
	border-top: 3px solid #525252;
	width: 90%;
}

.grayscale{ 
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    filter: gray;
    -webkit-transition: all .6s ease;
}

.grayscale:hover { 
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    filter: none;
}

/* Banner */
.banner {
	height: 100px;
	background-color: rgba(36, 36, 92, 0.7);
	padding-bottom: 30px;
	text-align: right;
	text-transform: uppercase;
}

.banner h1 {
	font-weight: bold;
	font-family: 'Oswald', sans-serif;
	font-size: 60px;
	margin-bottom: 5px;
	color: #ffffff;
	float: right;
}

@media (max-width: 767px) {
	.banner h1 {
		font-size: 40px;
		padding-top: 10px;
	}
}

@media (max-width: 420px) {
	.banner h1 {
		font-size: 30px;
		padding-top: 20px;
	}
}

@media (max-width: 315px) {
	.banner h1 {
		font-size: 24px;
		padding-top: 25px;
	}
}

.banner a:hover {
	text-decoration: none;
}

.banner h1:hover {
	color: #f9da24;
}

/* Main Slideshow */
.slideshow { 
	position: absolute; 
	top: -100px;
	width: 100%; 
	height: 600px; 
	z-index: -1000;
}

.slideshow div { 
	position: absolute; 
	width: 100%;
}

.slideshow img {
    width: 100%;
	height: 600px;
}

/* Navbar */
.navbar {
	border: none;
	border-radius: 0px;
	background-color: rgba(4, 10, 73, 0.9);
	box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.78);
	font-family: 'Oswald', sans-serif;
	font-size: 13px;
	z-index: 1000;
	text-transform: uppercase;
}

.nav li a {
	padding: 15px 10px;
}

.navbar .navbar-nav li a {
	color: #f9da24;
}

.navbar .navbar-nav li a:hover {
	color: #ffffff;
}

@media (max-width: 768px) {
	.navbar .dropdown-menu a {
		color: #f9da24;
	}
}

.dropdown-menu {
	background-color: rgba(36, 36, 92, 0.7);
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	background-color: rgba(4, 10, 73, 0.9);
}

/* NJ Seal */
.seal {
	position: absolute;
	top: 170px;
	z-index: -1;
	padding-right: 100px;
	width: 100%
}

.seal img {
	float: right;
}

@media (max-width: 768px) {
	.seal {
		padding-right: 35px;
	}
}

@media (max-width: 430px) {
	.seal img {
		width: 0px;
		height: 0px;
	}
}

/* Empty Banner */
.empty-bar {
	position: absolute;
	z-index: 1;
	top: 450px;
	width: 100%;
	height: 50px;
	background-color: rgba(4, 10, 73, 0.9);
	box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.78);
}

/* Content Panel */
.content {
	background-color: #ffffff;
	box-shadow: 21px 10px 71px 22px rgba(0,0,0,0.75);
	margin-top: 350px;
}

@media (max-width: 1199px) and (min-width: 768px) {
	.content {
		margin-top: 325px;
	}
}

/* Welcome Row */
.welcome {
	text-align: center;
}

.welcome h1 {
	text-transform: uppercase;
	font-size: 80px;
	font-family: 'Oswald', sans-serif;
}

.welcome p {
	font-family: Lato, sans-serif;
	font-size: 18px;
}

@media (max-width: 1200px) {
	.welcome h1 {
		font-size: 58px;
	}
}

@media (max-width: 768px) {
	.welcome p {
		font-size: 12px;
	}
}

/* Connect Row */
.connect {
	text-align: center;
}

.connect h1 {
	font-size: 65px;
}

@media (max-width: 1200px) {
	.connect h1 {
		font-size: 45px;
	}
}

.connect h6 {
	font-size: 28px;
}

.connect h5 {
	font-size: 44px;
}

.connect h1, .connect h6, .connect h5 {
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
}

@media (max-width: 1000px) {
	.social-bar {
		width: 0px;
		height: 0px;
		visibility: hidden;
	}
}

/* Social Tabs */
.social-tab {
	opacity: 0.8;
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
     
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
    overflow:hidden;
 }  
 
.social-tab:hover {
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);  
	opacity: 1.0;
}

/* Dine Magazine */
.dine {
	width: 75%;
	margin-left: 10%;
	height: 400px;
	margin-bottom: 10px;
}

/* Restaurant Row */
.restaurant h1 {
	text-transform: uppercase;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	font-size: 48px;
}

.restaurant p {
	font-size: 16px;
}

.restaurant h2  a {
	font-size: 45px;
	color: black;
}

/* Restaurant Slideshow */
.restaurant-slideshow { 
    position: relative; 
    margin: 25px auto;
    width: 100%; 
    height: 310px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}

.restaurant-slideshow div { 
    position: absolute; 
    width: 100%;
    padding: 2%;
}

.restaurant-slideshow img { 
    width: 100%;
    height: 290px;
}

.record {
	max-width: 85%;
	margin-left: auto;
	margin-right: auto;
}

/* Calendar Row */
.calendar h1 {
	text-transform: uppercase;
	font-size: 80px;
	font-family: 'Oswald', sans-serif;
}

@media (max-width: 1200px) {
	.calendar h1 {
		font-size: 58px;
	}
}

.calendar {
	text-align: center;
}

/* Footer */
footer {
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	background-color: rgba(4, 10, 73, 0.9);
	box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.78);
	color: white;
}